<section class="tab">
	<ul class="nav nav-pills">
		<li ng-class="{active:panel.isSet(1)}">
			<a href ng-click="panel.setTab(1)">Description</a>
		</li>
		<li ng-class="{active:panel.isSet(2)}">
			<a href ng-click="panel.setTab(2)">Specs</a>
		</li>
		<li ng-class="{active:panel.isSet(3)}">
			<a href	ng-click="panel.setTab(3)">Reviews</a>
		</li>
	</ul>
	<product-description ng-show="panel.isSet(1)"></product-description>
	<div ng-show="panel.isSet(2)" product-specs></div>
	<product-review ng-show="panel.isSet(3)"></product-review>
</section>